body { 
	background-image: url('sativa.png');
	background-repeat: repeat;
	height: 100%;
}

.navigation {
	text-align: center;
	margin-bottom: 10%;
}

.navigation span.title {
	font-size: 36px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	margin: 15px 0 0 30px;
}

.login {
	font-size: 25px;
	margin: 20px 30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	float: right;
}

form#insertArticleForm {
	width: 75%;
	margin: auto;
}

.new-article {
	margin-top: 10%;
}

.small-block-grid-3 {
	width: 90%;
	margin: auto;
}

/*creating a block grid for items*/
[class*='block-grid-')]{
	display:block;
	padding: 0;
	margin: 0;
}

[class*='block-grid-'] > li {
	display: block;
	height: auto;
	float: left;
}

.small-block-grid-3 > li {
	height: 300px;
	width: 300px;
	border: 1px solid gray;
	list-style: none;
	padding: 15px;
	background-color: white;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

